body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}

.wo-navbar a.navbar-brand:hover,
 .wo-navbar .navbar-nav li a:hover {
    color: #3b85bf;
}

.wo-jumbotron {
    padding: 30px;
    background: #3b85bf /*#ffbf60*/;
    font-family: "Comic Sans MS", cursive, sans-serif;
    overflow: auto;
    margin: 0;
}

.wo-jumbotron h1 .h1-text {
    color: #fff;
    font-size: 35px;
    padding-top: 10px;
    display: block;
}

.wo-jumbotron h1 .h1-text a {
    color: #fff;
    text-decoration: none;
}

.wo-panel-body .selectmultiple {
    height: 400px;
}

.wo-panel-footer {
    text-align: center;
}

h2 {
    color: #3b85bf;
    /*font-family: "Times New Roman", Times, serif;*/
    font-size: 32px;
}

.wo-page-header {
    margin-top: 20px;
}


.navbar-default .navbar-nav a.wo-panel-btn,
 .navbar-default .navbar-nav a.wo-panel-btn:hover,
  .navbar-default .navbar-nav .wo-panel-dropdown  a.wo-panel-btn,
   .navbar-default .navbar-nav .wo-panel-dropdown  a.wo-panel-btn:hover {
    color: #fff;
    background-color: #777;
}
