{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Zaloguj się
{% endblock title %}

{% block content %}

<div class="container col-md-6">

    <div class="panel panel-primary">
        <div class="panel-heading">Zaloguj się, żeby złożyć zamówienie</div>

        <form method="post" action=".">
            <div class="panel-body">
                <div class="col-md-6">

                    {% csrf_token %}
                    {{ form|crispy }}
                    <a href="{% url 'auth_password_reset' %}">Odzyskaj hasło &raquo;</a><br/>
                    <a href="{% url 'registration_register' %}">Zarejestruj się &raquo;</a>
                </div>
            </div>
            <div class="panel-footer wo-panel-footer">
                <input class="btn btn-success" type="submit" value="Zaloguj się" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </div>

</div>
{% endblock %}
