{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Resetuj hasło
{% endblock title %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Wprowadź nowe hasło</div>

      {% if validlink %}
        <form action="." method="post">
        <div class="panel-body">
            <div class="col-md-6">

                {% csrf_token %}
                {{ form|crispy }}

            </div>
        </div>
        <div class="panel-footer wo-panel-footer">
            <button class="btn btn-success"  type="submit">Zmień hasło</button>
        </div>
        </form>
      {% else %}
        <div class="panel-body">
            <div class="col-md-12">
                <p>Nie udało się wygenerować hasła. Spróbuj ponownie.</p>
            </div>
        </div>
      {% endif %}
    </div>

{% endblock content %}