{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Lista złożonych zamówień" "daily_orders" %}
{% endblock %}

{% block title %}
    Dzisiejsze zamówienia
{% endblock %}

{% block content %}

<div class="panel panel-primary">

    <div class="panel-heading">Lista zamówień</div>

    {% if object_list %}
    <div class="panel-body">

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th class="text-center">Zamawiający</th>
                <th class="text-center">Danie</th>
                <th class="text-center">Cena</th>
                <th class="text-center">Dostawa</th>
                <th class="text-center">Razem</th>
                <th class="text-center">Status</th>
                <th class="text-center">Zapłacono</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ obj.user.username }}</td>
                <td>{% for dish in obj.dishes.all %}
                        {{ dish.name }}
                        {% if not forloop.last %}
                            <br />
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="text-right">{{ obj.price }} zł</td>
                <td class="text-right">{{ obj.get_delivery_price }} zł</td>
                <td class="text-right">{{ obj.total_price }} zł</td>
                <td class="text-center">
                    <form action="." method="post">
                        {% csrf_token %}
                        <input type="hidden" name="op" value="status" />
                        <input type="hidden" name="order_id" value="{{ obj.id }}" />
                        <select class="js-status" name="status">
                            {% for c in obj.get_dict_status_choices %}
                            <option {% if c.selected %} selected="selected" {% endif %} value={{ c.code }}>{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </td>
                <td class="text-center">
                    <form action="." method="post">
                        {% csrf_token %}
                        <input type="hidden" name="op" value="paid" />
                        <input type="hidden" name="order_id" value="{{ obj.id }}" />
                        <input type="checkbox"
                               {% if obj.paid %} checked="checked" {% endif %}
                               name="paid"
                               value="1"
                               class="js-paid"
                        />
                    </form>
                </td>
                <td>
                    <a data-toggle="modal"
                       data-target="#menuModal"
                       href="{% url 'order_edit' obj.id %}"
                       class="btn btn-success btn-sm"
                    >Edycja</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>

        <div class="panel-footer wo-panel-footer">
            <a href="{% url 'message_collect' %}" class="btn btn-danger" type="submit">Powiadom o odbiorze</a>
        </div>

        {% include "orders/order_modal.html" %}

        {% else %}
        <div class="panel-body">
            <div class="alert alert-warning">
                <p>Brak zamówień.</p>
            </div>
        </div>
        {% endif %}




</div>
{% endblock %}