{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Twoje zamówienie" "user_home" %}
{% endblock %}


{% block title %}
    Twoje zamówienie - restauracja {{ restaurant.name }}
{% endblock title %}

{% block content %}

{% if not edit %}
<div class="alert alert-danger">
    Nie można już dodawać zamówień
</div>
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading">Szczegóły zamówienia</div>

    <div class="panel-body">
        {% if uo %}

        <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Nazwa dania</th>
                <th>Cena</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in uo.dishes.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ obj.name }}</td>
                <td class="text-right">{{ obj.price }} zł</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">Status: <strong>{{ uo.get_order_status_display }}</strong></li>
                <li class="list-group-item">Cena zamówienia: <strong>{{ uo.price }} zł</strong></li>
                <li class="list-group-item">Koszt dostawy: <strong>{{ uo.get_delivery_price }} zł</strong></li>
                <li class="list-group-item">Razem: <strong>{{ uo.get_total_price }} zł</strong></li>
                <li class="list-group-item">Zapłacono:
                    <strong>
                        {% if uo.paid %}
                            <span class="text-success">Tak</span>
                        {% else %}
                            <span class="text-danger">Nie</span>
                        {% endif %}
                    </strong>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-danger btn-xs" href="{{ restaurant.menu_url }}" target="_blank">Zobacz menu na stronie &raquo;</a>
                </li>
              </ul>
        </div>

        {% else %}
        <div class="alert alert-warning">
            <p>Brak zamówień. <a href="{{ restaurant.menu_url }}" target="_blank">Zobacz menu na stronie &raquo;</a></p>
        </div>
        {% endif %}
    </div>

    {% if edit %}
        {% if uo %}
        <div class="panel-footer wo-panel-footer">
            <form action="{% url 'order_delete' uo.id %}" method="post">
                {% csrf_token %}
                <a data-toggle="modal" data-target="#modal" href="{{ uo.get_absolute_url }}" class="btn btn-success"  type="submit">Edytuj zamówienie</a>
                <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
        </div>

        {% else %}
        <div class="panel-footer wo-panel-footer">
            <a data-toggle="modal" data-target="#modal" href="{% url 'order_form' %}" class="btn btn-success"  type="submit">Dodaj zamówienie</a>
        </div>
        {% endif %}

        {% include "orders/order_modal.html" %}
    {% endif %}
</div>

{% endblock content %}