{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Twoje dzisiejsze zamówienia" "user_home" %}
{% endblock %}


{% block title %}
    Witaj {{ user.username|capfirst }}!
{% endblock title %}

{% block content %}


<div class="panel panel-primary">
    <div class="panel-heading">Twoje dzisiejsze zamówienia</div>

    <div class="panel-body">
        {% if uo %}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Nazwa dania</th>
                <th>Cena z dostawą</th>
                <th>Status</th>
                <th>Zapłacono</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in uo %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ obj.get_absolute_url }}">{{ obj.description }}</td>
                <td>{{ obj.total_price }}</td>
                <td>{{ obj.get_order_status_display }}</td>
                <td>
                    {% if obj.paid %}
                        <p class="text-success">Tak</p>
                    {% else %}
                        <p class="text-danger">Nie</p>
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'order_delete' obj.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

        {% else %}
        <div class="alert alert-warning">
            <p>Brak zamówień. <a href="{% url 'order_form' %}">Przejdź do formularza &raquo;</a></p>
        </div>
        {% endif %}
    </div>

    <div class="panel-footer wo-panel-footer">
        <a href="{% url 'order_form' %}" class="btn btn-success"  type="submit">Dodaj zamówienie</a>
    </div>

</div>

{% endblock content %}