{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Twoje zamówienie" "user_home" %}
{% endblock %}


{% block title %}
    Twoje zamówienie
{% endblock title %}

{% block content %}


<div class="panel panel-primary">
    <div class="panel-heading">Szczegóły zamówienia</div>

    <div class="panel-body">
        {% if uo %}

        <div class="col-md-6">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Nazwa dania</th>
                <th>Cena</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in uo.dishes.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ obj.name }}</td>
                <td>{{ obj.price }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">Status: <strong>{{ uo.get_order_status_display }}</strong></li>
                <li class="list-group-item">Cena zamówienia: <strong>{{ uo.price }} zł</strong></li>
                <li class="list-group-item">Koszt dostawy: <strong>{{ uo.get_delivery_price }} zł</strong></li>
                <li class="list-group-item">Suma: <strong>{{ uo.total_price }} zł</strong></li>
                <li class="list-group-item">Zapłacono:
                    <strong>
                        {% if uo.paid %}
                            <span class="text-success">Tak</span>
                        {% else %}
                            <span class="text-danger">Nie</span>
                        {% endif %}
                    </strong>
                </li>
              </ul>
        </div>

        {% else %}
        <div class="alert alert-warning">
            <p>Brak zamówień.</p>
        </div>
        {% endif %}
    </div>

    {% if uo %}
    <div class="panel-footer wo-panel-footer">
        <form action="{% url 'order_delete' uo.id %}" method="post">
            {% csrf_token %}
            <a data-toggle="modal" data-target="#menuModal" href="{{ uo.get_absolute_url }}" class="btn btn-success"  type="submit">Edytuj zamówienie</a>
            <button type="submit" class="btn btn-danger">Usuń</button>
        </form>
    </div>

    {% else %}
    <div class="panel-footer wo-panel-footer">
        <a data-toggle="modal" data-target="#menuModal" href="{% url 'order_form' %}" class="btn btn-success"  type="submit">Dodaj zamówienie</a>
    </div>
    {% endif %}

    {% include "orders/order_modal.html" %}
</div>

{% endblock content %}