{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Rejestracja
{% endblock title %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Zarejestruj się</div>

        <form action="" method="post">
        <div class="panel-body">
            <div class="col-md-6">

                {% csrf_token %}
                {{ form|crispy }}

            </div>
        </div>
        <div class="panel-footer wo-panel-footer">
            <button class="btn btn-success"  type="submit">Wyślij &raquo;</button>
        </div>
        </form>
    </div>

{% endblock content %}