{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>WebObiady</title>

        {% block styling %}
            <link rel="stylesheet" href="{% static 'webobiady/bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'webobiady/style.css' %}?{% now 'U' %}">
        {% endblock styling %}
        <meta name="title" content="WebObiady - zamów obiad na dziś">
        <meta name="keywords" content="webobiady">
    </head>
    <body>
        <nav class="navbar navbar-default wo-navbar">
            <div class="navbar-inner">
                <div class="navbar-left">
                    <a href="{% url 'webobiady_home' %}" class="navbar-brand"><i class="glyphicon glyphicon-home"></i></a>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'user_home' %}">Twoje zamówienie</a></li>
                        {% now "Y" as current_year %}
                        {% now "m" as current_month %}
                        <li><a href="{% url 'order_history' month=current_month year=current_year %}">Historia zamówień</a></li>

                        {% if user.userprofile.is_purchaser %}
                        <li class="dropdown wo-panel-dropdown">
                          <a href="#"
                             class="dropdown-toggle btn-default wo-panel-btn"
                             data-toggle="dropdown"
                             role="button"
                             aria-haspopup="true"
                             aria-expanded="false"
                          >Panel zamawiającego <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="{% url 'purchaser_edit' user.id %}">Edycja danych</a></li>
                              <li><a href="{% url 'daily_orders' %}">Dzisiejsze zamówienia</a></li>
                              {% if user.is_superuser %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'import_menu' %}">Import menu</a></li>
                              {% endif %}
                          </ul>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}

                </div>
                <div class="navbar-collapse collapse">
                    {% if user.is_authenticated %}
                    <ul class="navbar-right nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Witaj {{ user.username|capfirst }} <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="{% url 'auth_password_change' %}">Zmiana hasła</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="{% url 'auth_logout' %}">Wyloguj się</a></li>
                          </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-right nav navbar-nav">
                        <li><a href="{% url 'auth_login' %}">Logowanie</a></li>
                        <li><a href="{% url 'registration_register' %}">Rejestracja</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="jumbotron wo-jumbotron">
            <div class="col-md-offset-1 col-md-4">
                <a href="{% url 'webobiady_home' %}"><img src="{% static 'webobiady/images/burger.png' %}" alt="" /></a>
            </div>
            <div class="col-md-7">
                <h1>WebObiady<span class="h1-text"><br /><a href="{% url 'user_home' %}">Zamów obiad na dziś!</a></span></h1>
            </div>

            <!-- <img src="{% static 'webobiady/images/pizza.png' %}" alt="" /> -->
        </div>

        {% load django_bootstrap_breadcrumbs %}
        {% block breadcrumbs %}
            {% clear_breadcrumbs %}
            {% breadcrumb "Strona główna" "/" %}
        {% endblock %}

        {% render_breadcrumbs %}

        <div class="container">

            <div class="page-header wo-page-header">
                <h2>
                    {% block title %}
                    {% endblock title %}
                </h2>
            </div>

            {% block content %}
            {% endblock content %}
        </div>

    <footer>

    </footer>
    {% block javascript %}
        <script src="{% static 'webobiady/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'webobiady/bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'webobiady/main.js' %}?{% now 'U' %}"></script>
    {% endblock javascript %}
    </body>
</html>