{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>WebObiady</title>

        {% block styling %}
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}">
        {% endblock styling %}
        <meta name="title" content="WebObiady - zamów obiad na dziś">
        <meta name="keywords" content="webobiady">
    </head>
    <body>
        <nav class="navbar navbar-default wo-navbar">
            <div class="navbar-inner">
                <div class="navbar-left">
                    <a href="{% url 'webobiady_home' %}" class="navbar-brand"><i class="glyphicon glyphicon-home"></i></a>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'user_home' %}">Twoje zamówienia</a></li>
                    </ul>
                    {% endif %}
                </div>
                <div class="navbar-collapse collapse">
                    {% if user.is_authenticated %}
                    <ul class="navbar-right nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Witaj {{ user.username|capfirst }} <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="{% url 'change_password' %}">Zmiana hasła</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="{% url 'webobiady_logout' %}">Wyloguj się</a></li>
                          </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-right nav navbar-nav">
                        <li><a href="{% url 'webobiady_login' %}">Logowanie</a></li>
                        <li><a href="{% url 'user_register' %}">Rejestracja</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="jumbotron wo-jumbotron">
            <div class="col-md-offset-1 col-md-4">
                <a href="{% url 'webobiady_home' %}"><img src="{% static 'images/burger.png' %}" alt="" /></a>
            </div>
            <div class="col-md-7">
                <h1>WebObiady!<span class="h1-text"> <br /><a href="{% url 'order_form' %}">Zamów obiad na dziś!</a></span></h1>
            </div>

            <!-- <img src="{% static 'images/pizza.png' %}" alt="" /> -->
        </div>


        <div class="container">
            <div class="page-header">
                <h2>
                    {% block title %}
                    {% endblock title %}
                </h2>
            </div>

            {% block content %}
            {% endblock content %}
        </div>

    <footer>

    </footer>
    {% block javascript %}
        <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock javascript %}
    </body>
</html>