{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Zaloguj się
{% endblock title %}

{% block content %}

<div class="container col-md-6">
    {% if form.errors %}
        <p class="text-danger">Niepoprawny login lub hasło</p>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">Zaloguj się, żeby złożyć zamówienie</div>
        <form method="post" action="{% url 'webobiady_login' %}">
            <div class="panel-body">
                <div class="col-md-6">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a href="{% url 'reset_password' %}">Zapomniałeś hasła?</a>
                </div>
            </div>
            <div class="panel-footer wo-panel-footer">
                <input class="btn btn-success" type="submit" value="Zaloguj się" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </div>
</div>


{% endblock content %}